html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a, input {
  outline: none; }

:focus {
  outline: none; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/RobotoBold/RobotoBold.eot") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Crimson Bold';
  src: url("../fonts/CrimsonText/CrimsonText-Bold.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Crimson Roman';
  src: url("../fonts/CrimsonText/CrimsonText-Roman.ttf") format("truetype"); }

@font-face {
  font-family: 'Amsdam';
  src: url("../fonts/Amsdam/Amsdam Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal; }

/****************
MAIN SETTINGS
****************/
html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.dark {
  background-color: #2d2d2f; }

.light {
  background-color: #555557; }

.map {
  height: 500px;
  width: 100%; }

.flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section-description, .service-description {
  padding: 70px 0;
  margin: 0 auto;
  max-width: 990px;
  text-align: center; }
  .section-description h2, .service-description h2 {
    font: 400 20px "Amsdam", "Arial", sans-serif;
    text-transform: uppercase;
    padding-bottom: 45px;
    color: #3e3d3d;
    position: relative; }
    .section-description h2::before, .service-description h2::before {
      content: '';
      position: absolute;
      top: 45px;
      left: 42%;
      background: url("../img/wave/dark-wave.png") no-repeat;
      width: 160px;
      height: 10px; }
  .section-description p, .service-description p {
    color: #3e3d3d;
    padding: 0px 50px;
    font: 400 14px/25px "Crimson Roman", "Arial", sans-serif; }

/****************
NAVIGATION MENU
****************/
.top-panel {
  position: fixed;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  z-index: 99999; }
  .top-panel__logo a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
    .top-panel__logo a span {
      font: 400 18px/50px "Montserrat", "Arial", sans-serif;
      color: #757575;
      text-transform: uppercase;
      margin-left: 15px; }
  .top-panel__navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .top-panel__navigation ul li {
      padding-right: 15px; }
    .top-panel__navigation ul a {
      text-decoration: none;
      color: #b5b5b5;
      font: 400 12px/50px "Montserrat", "Arial", sans-serif;
      text-transform: uppercase; }
  .top-panel__social {
    font-size: 14px; }
    .top-panel__social a {
      display: inline-block;
      color: #b5b5b5;
      text-decoration: none; }
      .top-panel__social a:not(:last-child):after {
        content: " | ";
        padding: 0 4px; }
      .top-panel__social a:hover {
        color: #1DA1F2; }

/****************
HEADER
****************/
header {
  background: url("../img/bg/bg-header.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .swiper-slide h3 {
    font: 400 14px/50px "Crimson Roman", "Arial", sans-serif;
    color: #fff; }
  .swiper-slide h1 {
    font: 400 36px/36px "Amsdam", "Arial", sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding: 40px;
    margin-top: 22px; }
    .swiper-slide h1::after {
      content: "";
      position: absolute;
      top: 109px;
      left: 30px;
      background: url("../img/wave/white-wave.png") no-repeat;
      background-repeat: repeat-x;
      width: 90%;
      height: 100%;
      display: block; }
    .swiper-slide h1::before {
      content: "";
      position: absolute;
      top: -8px;
      background: url("../img/wave/white-wave.png") no-repeat;
      background-repeat: repeat-x;
      width: 90%;
      height: 100%; }

.arrow {
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  text-align: center; }
  .arrow:before {
    content: '';
    display: block;
    border-bottom: 2px solid #b5b5b5;
    border-left: 2px solid #b5b5b5;
    height: 5px;
    width: 5px; }

.swiper-button-next,
.swiper-button-prev {
  top: 65%; }

.swiper-button-next:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin: -3px 0 0 -5px; }

.swiper-button-prev:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -3px 0 0 -3px; }

.start-btn {
  display: inline-block;
  border: 2px solid #fff;
  padding: 0px 35px;
  background: transparent;
  color: #fff;
  font: 400 15px/40px "Montserrat", "Arial", sans-serif;
  text-decoration: none;
  margin-top: 35px;
  position: relative; }
  .start-btn::after {
    content: "";
    position: absolute;
    top: 34px;
    height: 50px;
    width: 15px;
    right: calc(50% - 10px);
    background: url("../img/icons/get-started_arrow.png");
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out; }
  .start-btn:hover::after {
    top: 50px; }

/****************
ABOUT
****************/
.about__description {
  padding: 75px 0 35px; }
  .about__description img {
    display: block;
    width: 100%; }
  .about__description-text {
    background-color: #fff;
    padding: 55px 70px 45px;
    text-align: center; }
    .about__description-text h2 {
      padding-bottom: 50px;
      font: 400 20px/20px "Amsdam", "Arial", sans-serif;
      text-transform: uppercase;
      position: relative; }
      .about__description-text h2::after {
        content: "";
        position: absolute;
        top: 40px;
        margin-left: -140px;
        background: url("../img/wave/dark-wave.png") no-repeat;
        width: 160px;
        height: 10px; }
    .about__description-text p {
      text-align: left;
      font: 400 14px/25px "Crimson Roman", "Arial", sans-serif;
      letter-spacing: 2px;
      color: #3e3d3d; }
    .about__description-text a {
      display: inline-block;
      border: 2px solid #3e3d3d;
      font: 400 13px "Montserrat", "Arial", sans-serif;
      color: #3e3d3d;
      text-decoration: none;
      padding: 10px 30px;
      margin-top: 40px;
      -webkit-transition: .3s ease-in;
      transition: .3s ease-in; }
      .about__description-text a:hover {
        background-color: #3e3d3d;
        color: #fff; }

.about__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px 65px; }
  .about__counter-elem {
    width: 25%;
    border-right: 1px solid #b0b0b0;
    text-align: center; }
    .about__counter-elem:last-child {
      border: none; }
    .about__counter-elem p {
      font: 400 13px/18px "Montserrat", "Arial", sans-serif;
      color: #3e3d3d;
      text-transform: uppercase;
      margin: 20px 0; }
    .about__counter-elem span {
      font: 400 45px "Montserrat", "Arial", sans-serif;
      color: #3e3d3d; }

/****************
SERVICES
****************/
.service {
  background: url("../img/bg/bg-services.jpg") 50%;
  background-size: cover;
  padding-bottom: 85px; }
  .service-description h2,
  .service-description p {
    color: #fff; }
  .service-description h2::before {
    background: url("../img/wave/white-wave.png") no-repeat; }
  .service-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .service-content__item {
      width: 24%;
      text-align: center;
      border-left: 2px solid #8a8a8a;
      border-bottom: 2px solid #8a8a8a;
      border-right: 2px solid #8a8a8a;
      position: relative; }
      .service-content__item::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: -13px;
        left: 46%; }
      .service-content__item-first::before {
        background: url("../img/icons/serv-Idea.png") no-repeat; }
      .service-content__item-second::before {
        background: url("../img/icons/serv-Monitor.png") no-repeat; }
      .service-content__item-third::before {
        background: url("../img/icons/serv-Combo.png") no-repeat; }
      .service-content__item-fourth::before {
        background: url("../img/icons/serv-WP.png") no-repeat; }
      .service-content__item h4 {
        font: 400 13px/18px "Montserrat", "Arial", sans-serif;
        color: #b5b5b5;
        padding: 55px 0 35px;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative; }
        .service-content__item h4::before {
          content: '';
          position: absolute;
          border: 1px solid #8a8a8a;
          width: 35%;
          top: 0;
          left: 0; }
        .service-content__item h4::after {
          content: '';
          position: absolute;
          border: 1px solid #8a8a8a;
          width: 35%;
          top: 0;
          left: 65%; }
      .service-content__item p {
        font: 400 14px/20px "Crimson Roman", "Arial", sans-serif;
        color: #b5b5b5;
        padding: 0 35px 40px;
        letter-spacing: 1px; }

/****************
HISTORY (TIMELINE)
****************/
.history,
.prices,
.about {
  background-color: #e3e3e3; }

.timeline {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 185px; }
  .timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 1051px;
    left: 50%;
    background-color: #000; }
  .timeline-2015 {
    margin-bottom: 10px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .timeline-2015::before {
      content: "";
      position: absolute;
      width: 73px;
      height: 73px;
      left: 47%;
      top: -73px;
      z-index: 2;
      background: url("../img/icons/2015.png") no-repeat; }
  .timeline-2014 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 145px 0; }
    .timeline-2014::before {
      content: '';
      position: absolute;
      background: url("../img/icons/2014.png") no-repeat;
      width: 73px;
      height: 73px;
      left: 47%;
      top: 50%;
      background-color: #e3e3e3;
      z-index: 22; }
    .timeline-2014::after {
      content: '';
      position: absolute;
      background: url("../img/icons/history-start.png") no-repeat;
      width: 55px;
      height: 55px;
      top: 79%;
      left: calc(48% - 2px); }
  .timeline__elem {
    width: 48%;
    padding: 20px;
    border: 2px solid #454545;
    cursor: pointer;
    position: relative;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    color: #3e3d3d; }
    .timeline__elem:hover {
      background-color: #3e3d3d;
      color: #fff; }
    .timeline__elem h3 {
      font: 400 13px/18px "Montserrat", "Arial", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .timeline__elem span {
      font: 400 11px/18px "Montserrat", "Arial", sans-serif; }
    .timeline__elem p {
      font: 400 14px/20px "Crimson Roman", "Arial", sans-serif;
      letter-spacing: 1px; }

.left-circle:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-width: 0 0 13px 13px;
  border-color: transparent transparent transparent #3e3d3d;
  top: 11%;
  left: 100%; }

.left-circle:before {
  content: '';
  position: absolute;
  border: 10px solid #3e3d3d;
  border-radius: 50%;
  right: -38px;
  top: 17px; }

.right-circle {
  margin-top: 50px; }
  .right-circle::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-width: 13px 0 0 13px;
    border-color: transparent transparent #3e3d3d #3e3d3d;
    top: 11%;
    left: -15px;
    -webkit-transform: rotate(182deg);
            transform: rotate(182deg); }
  .right-circle:before {
    content: '';
    position: absolute;
    border: 10px solid #3e3d3d;
    border-radius: 50%;
    left: -35px;
    top: 9px; }

/****************
TEAM
****************/
.team {
  background: url("../img/bg/bg-team.jpg") 50%;
  background-size: cover; }
  .team-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 875px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 70px; }
    .team-wrap__elem {
      width: 31%;
      position: relative; }
      .team-wrap__elem img {
        display: block;
        width: 100%; }
      .team-wrap__elem:hover .team-wrap__container {
        opacity: 1;
        cursor: pointer; }
    .team-wrap__container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      -webkit-transition: opacity .3s ease-in;
      transition: opacity .3s ease-in;
      opacity: 0; }
    .team-wrap__content {
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      padding: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .team-wrap__content h5 {
        font: 400 13px/18px "Montserrat", "Arial", sans-serif;
        color: #3e3d3d; }
      .team-wrap__content span {
        font: 400 14px/18px "Crimson Roman", "Arial", sans-serif;
        font-style: italic; }
      .team-wrap__content hr {
        width: 100%;
        background-color: #515151;
        height: 2px;
        border: none; }
    .team-wrap__social a {
      color: #3e3d3d; }
      .team-wrap__social a:not(:last-child):after {
        content: " | "; }

/****************
PORTFOLIO (MIXING)
****************/
.mix-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px; }
  .mix-pagination li {
    padding: 0 20px;
    border: 2px solid #3e3d3d;
    margin-right: 5px;
    text-transform: uppercase;
    font: 400 11px/30px "Montserrat", "Arial", sans-serif;
    color: #3e3d3d;
    -webkit-transition: background .3s ease-out;
    transition: background .3s ease-out; }
    .mix-pagination li.active {
      background-color: #3e3d3d;
      color: #fff; }
    .mix-pagination li:hover {
      background-color: #3e3d3d;
      color: #fff;
      cursor: pointer; }

.mix-content {
  background-color: #3e3d3d;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .mix-content__elem {
    width: 25%;
    height: 25vw; }
    .mix-content__elem img {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover; }

/****************
PRICES
****************/
.prices {
  padding-bottom: 90px; }

.prices-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .prices-wrap__card {
    width: 30%;
    background-color: #fff;
    text-align: center; }
    .prices-wrap__card h5 {
      font: 400 13px/18px "Montserrat", "Arial", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #3e3d3d;
      padding-top: 45px; }
    .prices-wrap__card li {
      font: italic 16px/30px "Crimson Roman", "Arial", sans-serif;
      color: #3e3d3d; }
    .prices-wrap__card a {
      display: inline-block;
      margin: 50px 0 60px;
      border: 2px solid #3e3d3d;
      color: #3e3d3d;
      font-family: "Montserrat", "Arial", sans-serif;
      font-size: 13px;
      font-weight: 400;
      padding: 5px 40px;
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out; }
      .prices-wrap__card a:hover {
        background-color: #3e3d3d;
        color: #fff; }

.price-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 25px auto;
  position: relative; }
  .price-icon::after, .price-icon::before {
    content: '';
    position: absolute;
    border: 1px solid #3e3d3d;
    width: 95px;
    top: 50%; }
  .price-icon::after {
    left: 50px; }
  .price-icon::before {
    right: 50px; }
  .price-icon-one {
    background: url("../img/icons/price-icon.png"); }
  .price-icon-two {
    background: url("../img/icons/price-icon-2.png"); }
  .price-icon-three {
    background: url("../img/icons/price-icon-3.png"); }

.price-cost {
  font-size: 70px;
  font-weight: 700;
  color: #3e3d3d;
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  position: relative; }
  .price-cost sup {
    vertical-align: text-top;
    font: 400 28px/39px "Montserrat", "Arial", sans-serif; }

/****************
PURCHASE
****************/
.purchase {
  background-color: #2d2d2f; }
  .purchase-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .purchase-content img {
      display: inline-block;
      width: 10%; }
    .purchase-content a {
      display: inline-block;
      border: 2px solid #e3e3e3;
      color: #fff;
      font-family: "Montserrat", "Arial", sans-serif;
      font-size: 13px;
      padding: 5px 30px;
      font-weight: 400;
      -webkit-transition: background-color .5s ease-out;
      transition: background-color .5s ease-out; }
      .purchase-content a:hover {
        background-color: #fff;
        color: #3e3d3d; }
  .purchase-text {
    width: 66%; }
    .purchase-text h4 {
      font: 500 16px/18px "Montserrat", "Arial", sans-serif;
      letter-spacing: 2px;
      margin-bottom: 20px;
      color: #fff; }
    .purchase-text p {
      font: italic 16px/20px "Crimson Roman", "Arial", sans-serif;
      color: #888888; }

/****************
BLOG
****************/
.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto; }
  .blog-content__elem {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .blog-content__elem-text {
      padding: 45px 35px; }
      .blog-content__elem-text h5 {
        font: italic 12px/18px "Crimson Roman", "Arial", sans-serif;
        color: #e3e3e3; }
      .blog-content__elem-text hr {
        width: 50%;
        margin: 15px 0;
        border: none;
        height: 1px;
        background-color: #454545; }
      .blog-content__elem-text h4 {
        font: 400 13px/18px "Montserrat", "Arial", sans-serif;
        color: #e3e3e3;
        text-transform: uppercase;
        margin-bottom: 35px;
        letter-spacing: 1px;
        position: relative; }
        .blog-content__elem-text h4::before {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 10px;
          left: -10px;
          border-style: solid;
          border-width: 3.5px 0 3.5px 4px;
          border-color: transparent transparent transparent #e3e3e3;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
      .blog-content__elem-text p {
        font: 400 14px/20px "Crimson Roman", "Arial", sans-serif;
        color: #949494; }

/****************
CLIENTS
****************/
.clients-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px 80px; }

/****************
TESTIMONIALS
****************/
.testimonials {
  background: url("../img/bg/testimonials.jpg") no-repeat 50%;
  background-size: cover; }

.testimonial {
  padding: 75px 100px 120px;
  text-align: center;
  position: relative;
  color: #fff; }
  .testimonial__img {
    display: inline-block; }
  .testimonial p {
    max-width: 990px;
    margin: 0 auto;
    font: italic 20px/24px "Crimson Roman", "Arial", sans-serif;
    padding: 55px 0 65px;
    position: relative; }
    .testimonial p::before {
      content: '';
      position: absolute;
      background: url("../img/icons/bot_sub.png") no-repeat;
      height: 30px;
      width: 30px;
      top: 28%;
      left: -2%; }
    .testimonial p::after {
      content: '';
      position: absolute;
      background: url("../img/icons/top_sup.png") no-repeat;
      height: 30px;
      width: 30px;
      top: 56%;
      margin-left: 1%; }
  .testimonial h5 {
    text-transform: uppercase;
    font: 400 13px/18px "Montserrat", "Arial", sans-serif;
    letter-spacing: 2px;
    padding-bottom: 15px; }
  .testimonial span {
    font: italic 14px/24px "Crimson Roman", "Arial", sans-serif;
    padding-bottom: 20px; }

/****************
FOOTER
****************/
.footer {
  padding: 50px 0 35px;
  background: url("../img/bg/bg-footer.jpg") no-repeat 50%;
  background-size: cover; }
  .footer hr {
    margin: 50px 0 40px;
    border: none;
    background-color: #3e3d3d;
    height: 1px; }
  .footer span {
    color: #949494;
    font: italic 14px/20px "Crimson Roman", "Arial", sans-serif; }
  .footer-logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-logo span {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
      font-family: "Montserrat", "Arial", sans-serif;
      letter-spacing: 2px;
      margin-left: 15px; }
  .footer-content {
    padding-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-intro {
    width: 32%; }
    .footer-intro p {
      font: 400 14px/20px "Crimson Roman", "Arial", sans-serif;
      color: #949494;
      letter-spacing: 1px; }
    .footer-intro h3 {
      font: 400 13px/18px "Montserrat", "Arial", sans-serif;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 1px;
      padding: 40px 0 30px; }
    .footer-intro span {
      display: block;
      font: 400 14px/20px "Crimson Roman", "Arial", sans-serif;
      color: #949494;
      letter-spacing: 1px; }
    .footer-intro__connect {
      margin: 30px 0; }
      .footer-intro__connect a {
        display: block;
        color: #fff;
        text-transform: uppercase;
        font: 400 13px/18px "Montserrat", "Arial", sans-serif; }
    .footer-intro__socials {
      font-size: 14px; }
      .footer-intro__socials a {
        display: inline-block;
        color: #b5b5b5; }
        .footer-intro__socials a:not(:last-child):after {
          content: " | ";
          padding: 0 4px; }
        .footer-intro__socials a:hover {
          color: #1DA1F2; }
  .footer-form {
    width: 64%;
    position: relative; }
    .footer-form__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-bottom: 20px; }
      .footer-form__row input {
        padding: 20px;
        background: transparent;
        border: 2px solid #464646;
        outline: none;
        color: #fff;
        width: 42%; }
      .footer-form__row input::-webkit-input-placeholder {
        font: italic 14px/20px "Crimson Roman", "Arial", sans-serif; }
      .footer-form__row input::-moz-placholder {
        font: italic 14px/20px "Crimson Roman", "Arial", sans-serif; }
    .footer-form textarea {
      display: block;
      padding: 20px;
      margin-bottom: 20px;
      color: #fff;
      width: 93%;
      background: transparent;
      border: 2px solid #464646; }
    .footer-form textarea::-webkit-input-placeholder {
      font: italic 14px/20px "Crimson Roman", "Arial", sans-serif; }
    .footer-form textarea::-moz-placholder {
      font: italic 14px/20px "Crimson Roman", "Arial", sans-serif; }
    .footer-form input[type="submit"] {
      border: none;
      background-color: #464646;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      font-family: "Montserrat", "Arial", sans-serif;
      padding: 10px 40px;
      cursor: pointer;
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;
      letter-spacing: 1px; }
      .footer-form input[type="submit"]:hover {
        background-color: #fff;
        color: #3e3d3d; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
